/*
 * Scholar Icons v1.0.2 by @louisfacun – https://github.com/louisfacun/scholar-icons
 * License – Fonts: SIL OFL 1.1, Codes: MIT License, Icons: CC BY 4.0
 */

@font-face {
  font-family: "Scholar Icons";
  src: url("../fonts/scholar-icons.eot");
  src:
    url("../fonts/scholar-icons.eot") format("embedded-opentype"),
    url("../fonts/scholar-icons.ttf") format("truetype"),
    url("../fonts/scholar-icons.woff") format("woff"),
    url("../fonts/scholar-icons.svg") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
